body {
    display: flex;
    background: #e6e6e6;
    background: linear-gradient(180deg, rgba(230, 230, 230, 1) 0%, rgba(177, 201, 187, 1) 50%, rgba(220, 232, 186, 1) 100%);
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.conteudo {
    background-color: #c5c5c57c;
    height: 380px;
    width: 450px;
    border-radius: 4%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.conteudo h1 {
    color: #000000;
    font-size: 30px;
    margin-bottom: 20px;
}

.input {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: center;
}

#quantidade{
    height: 20px;
    width: 80px;
}

#quantidadeValor {
    position: relative;
    background-color: #fff;
    width: 22px;
    height: 21px;
    border-radius: 5px;
    display: flex;
    font-weight: bolder;
    size: 25px;
    left: 10px;
    font-size: 20px;
}

input[type=checkbox] {
    
    block-size: 20px;
    
}

#labelCapital, #labelNumbers, #labelEspecial {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#gerar {
    display: flex;
    position: relative;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 20px;
    left: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

#gerar:hover {
    background-color: #626570;
    cursor: pointer;
}


#senha {
    margin-top: 20px;
    background-color: #fff;
    width: 430px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

#senha::content {
    font-size: 25px;
    font-weight: bold;
}

.gif {
    width: 130px;
    position: absolute;
    top: 620px;
    left: 510px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    
}