body {
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.conteudo {
    background-color: #c5c5c5;
    height: 380px;
    width: 400px;
    border-radius: 4%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}



.conteudo h1 {
    color: #000000;
    font-size: 30px;
    margin-bottom: 20px;
}

.input {
    font-size: 24px;
    font-weight: bolder;
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: center;
}

#quantidade{
    border-radius: 7px;
    height: 20px;
    width: 40px;
    opacity: 80%;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

input[type=checkbox]{
    margin-right: 10px;
}

input[type=checkbox], label {
    display: block;
    text-align: left;
    font-size: 20px;
    block-size: 20px;
    font-weight: bold;
}

#gerar {
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 20px;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

#senha {
    margin-top: 20px;
    background-color: #fff;
    width: 380px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.gif {
    width: 130px;
    position: absolute;
    top: 620px;
    left: 510px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    
}